<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>

<h1>Pets</h1>
<hr>
<p>Pets are super cool, there best friends of everyone. Unless the pet is a cat, then everything I've said can be ignored.</p>
<hr>
<img src="IMG_9176.png" alt="Dog" />
<br>
<hr>
<form action="">
    <label for="fav">Favorite Pet: </label>
    <input type="text" id="fav">
    <button type="submit">Submit</button>
</form>
<hr>
<br>
<p>You should spoil and pamper your pets, go check out <a href="https://petpros.net/auburn-pet-stores/">Pet Pros</a>.</p>


</body>
</html>